<div class="top-page">

  <div class="logo-mini">
    恋AI💗
  </div>

  <h1 class="main-title">恋AIシミュレーション</h1>

  <p class="sub-title">
    ～君もこれで恋愛マスターに！～
  </p>

  <h2>獲得バッジ</h2>

  <div class="badge-list">
  <% @partners.each do |partner| %>

    <% if @badges.exists?(partner: partner) %>

      <%= image_tag "badge.png",
            class: "badge" %>

    <% else %>

      <div class="badge-none">❓</div>

    <% end %>

  <% end %>
</div>

  <div class="character-title">
    🎤 キャラを選択してください
  </div>

  <div class="character-list">

    <%= link_to conversations_path(partner_id: 1), class: "character-btn tsundere" do %>
      <span>ツンデレ系</span>
    <% end %>

    <%= link_to conversations_path(partner_id: 2), class: "character-btn dog" do %>
      <span>いぬ系</span>
    <% end %>

    <%= link_to conversations_path(partner_id: 3), class: "character-btn oneesan" do %>
      <span>お姉さん系</span>
    <% end %>

  </div>

</div>