/*
 * This is a manifest file that'll be compiled into application.css.
 *
 *= require_tree .
 *= require_self
 */

/* 共通設定 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

body{
    font-family:"Yu Gothic", sans-serif;

    background-image:url("/assets/BCO.eb0b0746-ad5c-4186-a526-6c28149d7490.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    overflow:hidden;
}