/* トップページ全体 */
.top-page{
    height:100vh;
    height:100dvh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:20px;
    overflow:hidden;
}

/* 左上ロゴ */
.logo-mini{
    width:100%;
    padding:clamp(10px,2vh,40px) 60px;
    box-sizing:border-box;

    font-size:clamp(32px,5vh,70px);
    font-weight:bold;

    color:#ff3f8e;

    text-shadow:
        0 0 10px white,
        0 0 20px white,
        0 0 35px white;
}

/* タイトル */
.main-title{
    margin-top:clamp(6px,2vh,20px);

    font-size:clamp(36px,6vh,85px);
    font-weight:bold;

    color:#ff3f8e;

    text-shadow:
        0 0 10px white,
        0 0 20px white,
        0 0 35px white;
}

/* サブタイトル */
.sub-title{
    font-size:clamp(20px,3vh,45px);
    margin-bottom:clamp(20px,5vh,80px);
}

/* キャラ選択 */
.character-title{
    width:90%;

    font-size:clamp(22px,3vh,42px);
    text-decoration:underline;

    margin-bottom:clamp(20px,4vh,60px);
}

/* キャラクター一覧 */
.character-list{
    display:flex;
    justify-content:center;
    gap:clamp(20px,4vw,70px);

    flex-wrap:wrap;
}

/* キャラボタン */
.character-btn{
    width:clamp(180px,18vw,360px);
    height:clamp(260px,55vh,700px);

    border:none;
    border-radius:25px;

    background-size:cover;
    background-position:center;

    cursor:pointer;

    position:relative;
    overflow:hidden;

    transition:.3s;

    box-shadow:0 10px 20px rgba(0,0,0,.25);
}

.character-btn:hover{
    transform:scale(1.05);

    box-shadow:0 15px 30px rgba(0,0,0,.35);
}

/* キャラ名 */
.character-btn span{
    position:absolute;

    left:50%;
    bottom:20px;

    transform:translateX(-50%);

    width:80%;
    padding:10px;

    border-radius:20px;

    background:rgba(255,255,255,.8);

    color:#d81b60;

    font-size:28px;
    font-weight:bold;
}

/* 背景画像 */
.tsundere{
    background-image:url("/assets/sakura.png");
}

.dog{
    background-image:url("/assets/hina.png");
}

.oneesan{
    background-image:url("/assets/mituki.png");
}